<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h6>{{ user.name }}</h6>
        <p class="small">Die letzte Anmeldung am Emby Server [{{ user.serverName }}] erfolgte am
          {{ user.lastLogonDate.toLocaleDateString() }} um {{ user.lastLogonDate.toLocaleTimeString() }}.</p>
      </div>
      <div class="card-body">
        Gesamte Medienbibliothek ({{ user.all.cntWatched }} / {{ user.all.cntAll }}):
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" aria-valuenow="user.all.cntWatched"
            aria-valuemax="user.all.cntAll" [ngStyle]="getProgressBarWidthAll()">
          </div>
        </div>
        Gesehene Filme ({{ user.film.cntWatched }} / {{ user.film.cntAll }}):
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="user.film.cntWatched"
            aria-valuemax="user.film.cntAll" [ngStyle]="getProgressBarWidthFilm()">
          </div>
        </div>
        Abgeschlossene Serien ({{ user.series.cntWatched }} / {{ user.series.cntAll }}):
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="user.series.cntWatched"
            aria-valuemax="user.series.cntAll" [ngStyle]="getProgressBarWidthSeries()">
          </div>
        </div>
        Abgeschlossene Staffeln aller Serien ({{ user.seasons.cntWatched }} / {{ user.seasons.cntAll }}):
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="user.seasons.cntWatched"
            aria-valuemax="user.seasons.cntAll" [ngStyle]="getProgressBarWidthSeasons()">
          </div>
        </div>
        Gesehene Episoden aller Serien ({{ user.episodes.cntWatched }} / {{ user.episodes.cntAll }}):
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="user.episodes.cntWatched"
            aria-valuemax="user.episodes.cntAll" [ngStyle]="getProgressBarWidthEpisodes()">
          </div>
        </div>
        Gesehene Musikfilme ({{ user.musicFilm.cntWatched }} / {{ user.musicFilm.cntAll }}):
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" aria-valuenow="user.musicFilm.cntWatched"
            aria-valuemax="user.musicFilm.cntAll" [ngStyle]="getProgressBarWidthMusicFilm()">
          </div>
        </div>
        <app-user-watched-list *ngIf="user.watchedItems.length > 0" [user]="user"></app-user-watched-list>
      </div>
    </div>
  </div>
</div>
